:root {
    --error-color: #ff5959;
    --light-color: #eef2ff;
    --dark-color: #676fa3;
    --light-color2: #cddeff;
}

body {
    font-family: 'Sono', sans-serif;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.logo-img {
    width: 80px;
}

.logo-section {
    width: 40%;
    background-image: url('pexels-pixabay-2150.jpg');
    position: relative;
}

.logo {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
}

.logo h1 {
    font-size: 80px;
}

.content-section {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.description {
    padding: 2rem;
}

.content-section h1 {
    text-align: center;
    margin-top: 3rem;
}

form {
    margin-top: 3rem;
    background-color: var(--light-color2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

label, input {
    display: block;
    width: 100%;
    height: 2rem;
}

input, button {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
}

input {
    border: none;
    background-color: var(--light-color);
    padding: 0 1rem;
}

input:focus {
    outline: 2px solid var(--dark-color);
    box-shadow: 0 0 5px 5px var(--light-color);
}

input:invalid {
    outline: 2px solid var(--error-color);
}

#password.error, #confirm.error {
    outline: 2px solid var(--error-color);
}

.password-wrapper {
    position: relative;
}

#password.error + span::after {
    content: 'passwords do not match.';
    font-size: 0.8em;
    color: var(--error-color);
    position: absolute;
    top: 2rem;
    right: 150px;
}

.button-container {
    grid-column: 1 / 3;
}

button {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 1px solid var(--light-color);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

a {
    color: var(--dark-color);
    font-weight: bold;
}